.puesto_actual {
    display: flex;
    flex-direction: column;
    background-color: #ececec;
    align-items: center;
    max-width: 450px;
    margin: 20px;
    width: 100%;
    justify-content: center;
    height: 300px;
}
.fila_puesto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo_proximo_partido {
    margin-right: 12px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}
.puesto {
    font-size: 64px;
}
.descripcion_proximo_partido {
    margin: 0px 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
}
.flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px 0px;
}
.boton{
    width: 50%;
    border: none;
    color: #8a1538;
    background-color: #eeeee4;
    border: 1px solid #8a1538;
    padding: 5px 10px;
    border-radius: 30px;
    margin-bottom: 25px;
    font-size: 22px;
    margin-top: 25px;
    text-decoration: none;
    text-align: center;
}
.boton:hover{
    color: #eeeee4;
    background-color: #8a1538;
    border: none;
    transition: 700ms;
    cursor: pointer;
}
.grupo_1 {
    background-color: #ececec;
    width: 100%;
    margin: 40px 20px;
    padding: 20px;
    max-width: 600px;
    height: 300px;
}
.titulo_grupo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 26px;
    margin-bottom: 10px;
}
.equipo_1 {
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 30%;

}
.equipo_2 {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 30%;

}
.equipo_1 input, .equipo_2 input{
    width: 30px;
    height: 20px;
    font-size: 12px;
}
.equipo_1 img, .equipo_2 img{
    margin: 5px;
}
.equipo_1 p, .equipo_2 p {
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    width: inherit;
}
.main_partidos{
    display: flex;
    align-items: center;
    margin:0px;
    justify-content: center;
    height: 35px;
}
.img_p{
    width: 85%;
    display: flex;
    align-items: center;
}
.fecha{
    font-size: 14px;
}
.equipo_1 .img_p {
    justify-content: flex-end;
}
.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 2.5vh;
    max-width: 600px;
    width: 100%;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.center .boton {
    max-width: 180px;
}
#titulo_dia{
    font-size: 28px;
    color: #8a1538;
    text-align: center;
    margin: 15px 0px;
}
.titulo_proximo_partido {
    margin: 0px 10px 20px ;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}
.gano {
    color: rgb(0, 153, 0);
    font-size: 22px;
}
.perdio {
    color: rgb(156, 1, 1);
    font-size: 22px;
}
.empato {
    color: rgb(163, 144, 36);
    font-size: 22px;
}
.titulo_grupo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 26px;
    margin-bottom: 10px;
}
.equipo_1 {
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 30%;

}
.equipo_2 {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 30%;

}
.equipo_1 input, .equipo_2 input{
    width: 30px;
    height: 20px;
    font-size: 12px;
    border: 1px solid #8a1538;
    border-radius: 4px;
}
.equipo_1 img, .equipo_2 img{
    margin: 5px;
}
.main_partidos{
    display: flex;
    align-items: center;
    margin:0px;
    justify-content: center;
    height: 35px;
}
.img_p{
    width: 85%;
    display: flex;
    align-items: center;
}
#home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.equipo_1 .img_p {
    justify-content: flex-end;
}
.fecha{
    font-size: 14px;
    width: 75px;
}
.boton_form{
    margin-left: 10px;
    align-self: center;
    background-color: #8a1538;
    color: #eeeee4;
    border: 0px;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
}
.boton_form:hover {
    background-color: #eeeee4;
    color: #8a1538;
    border: 1px solid #8a1538;
    cursor: pointer;
    transition: 700ms;
}
.img_p img{
    width: auto;
    height: 25px;
}
.gano {
    color: rgb(0, 153, 0);
    font-size: 18px;
}
.perdio {
    color: rgb(156, 1, 1);
    font-size: 18px;
}
.empato {
    color: rgb(163, 144, 36);
    font-size: 18px;
}
.equipo_1 p {
    text-align: right;
}
.equipo_2 p {
    text-align: left;
}
.mobile{
    display: none !important;
}
#main_partidos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.label{
    color: #8a1538;
    margin: 5px;
}
#goleador_campeon{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.input_goleador_campeon {
    width: 200px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
.campeon{
    color: #8a1538;
    font-size: 24px;
    margin-right: 8px;
}
.flex_row{
    display:flex;
    flex-direction: row;
    margin: 5px;
    max-width: 600px;
    align-items: center;
}
.gracias{
    font-size: 26px;
    padding: 15px 5%;
    text-align: center;
    color:#2571a3;
}
@media (max-width: 600px) {
    .fecha{
        display: none;
    }
    .flex_center{
        margin: 20px 0px
    }
    .grupo_1 {
        margin: 40px 5px;
        height: 330px;
    }
    .puntos {
        font-size: 12px;
        margin-left: 15px;
    }
    .pc{
        display: none;
    }
    .mobile{
        display: inline-block !important;
    }
    .equipo_1, .equipo_2{
        width: 40%;
    }
    .boton_form{
        width: 7%;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .img_p p{
        font-size: 12px;
    }
    .img_p img{
        margin: 0px;
    }
}
@media (max-width: 300px) {
    .img_p img {
        display: none;
    }
   
}
@media (max-width: 1200px) {
    .titulo_proximo_partido{
        font-size: 20px;
    }
    .descripcion_proximo_partido {
        font-size: 16px;
    }
}
@media (max-width: 650px){
    .partidos_Jugados{
        flex-direction: column;
        align-items: center;
    }
    .fecha{
        display: none;
    }
    #titulo_dia{
        font-size: 18px;
    }
    .img_p img{
        display: none;
    }
    .label{
        font-size: 14px;
        width: 30%;
    }
    .input_goleador_campeon{
        width: 60%;
    }
}
@media (max-width:350px) {
        #titulo_dia{
            font-size: 14px;
        } 
        .boton{
            width: 90%;
            font-size: 15px;
        }
        .img_p p {
            font-size: 11px;
        }
        .puntos {
            font-size: 15px;
            margin-left: 15px;
        }
        .img_p img{
            display: none;
        }
}
