.grupo_1 {
    background-color: #ececec;
    width: 100%;
    margin: 40px 20px;
    padding: 20px 0px;
    max-width: 600px;
}
.titulo_grupo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 26px;
    margin-bottom: 10px;
}
.equipo_1 {
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 30%;

}
.equipo_2 {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 30%;

}
.equipo_1 input, .equipo_2 input{
    width: 30px;
    height: 20px;
    font-size: 12px;
}
.equipo_1 img, .equipo_2 img{
    margin: 5px;
}
.equipo_1 p, .equipo_2 p {
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.main_partidos{
    display: flex;
    align-items: center;
    margin:0px;
    justify-content: center;
    height: 35px;
}
.img_p{
    width: 85%;
    display: flex;
    align-items: center;
}
.flex_center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45vw;
    margin: 20px 2.5vh;
    
}
#home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.equipo_1 .img_p {
    justify-content: flex-end;
}
.fecha{
    font-size: 14px;
    width: 75px;
}
.boton{
    margin-left: 10px;
    align-self: center;
    background-color: #8a1538;
    color: #eeeee4;
    border: 0px;
    padding: 5px 10px;
    border-radius: 15px;
}
.boton:hover {
    background-color: #eeeee4;
    color: #8a1538;
    border: 1px solid #8a1538;
    cursor: pointer;
    transition: 700ms;
}
.img_p img{
    width: auto;
    height: 25px;
}
.gano {
    color: rgb(0, 153, 0);
    font-size: 18px;
}
.perdio {
    color: rgb(156, 1, 1);
    font-size: 18px;
}
.empato {
    color: rgb(163, 144, 36);
    font-size: 18px;
}