.flex{
    display: flex;
}
main{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#contenedor_partidos{
    background-color: #eeeee4;
    color: #8a1538;
    max-width: 450px;
    margin: 45px 0px;
    padding: 15px;
    width: 100%;
}
.contenedor_partido{
    display: flex;
    align-items: center;
    height: 45px;
    width: 100%;
    margin: 5px;
}
.equipos{
    font-size: 12px;
    text-align: center;
}
.flex_column{
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
}
.ronda{
    font-size: 16px;
    margin: 0px 10px;
}
.ronda_partido{
    font-size: 14px;
}
.boton{
    margin-left: 10px;
    align-self: center;
    background-color: #8a1538;
    color: #eeeee4;
    border: 0px;
    padding: 5px;
    border-radius: 15px;
}
.boton:hover {
    background-color: #eeeee4;
    color: #8a1538;
    border: 1px solid #8a1538;
    cursor: pointer;
    transition: 700ms;
}
.form_grupo{
    padding: 15px;
}
#contenedor_rondas{
    background-color: #eeeee4;
    color: #8a1538;
    max-width: 350px;
    margin:  0px;
    
}

.sub_title{
    color: #8a1538;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0px;
}
@media (max-width: 500px) {
    .contenedor_partido{
        flex-direction: column;
        margin: 25px 0px;
    }
    .flex{
        width: 100%;
    }
    .flex_column{
        width: 30%;
    }
    #contenedor_partidos{
        padding: 15px 0px;
    }
    .ronda_partido{
        font-size: 16px;
    }
}