* {
    padding: 0;
    margin: 0;
    font-family: 'montserrat', sans-serif;
    margin-left: 0; margin-right: 0;
    box-sizing: border-box;
    
}
.none {
    display: none;
}
html{
    padding: 0;
    margin: 0;
}
body{
    max-width: 100vw;
    background-color: #8a1538;
}
/*----------------------Header -----------------------*/
header{
    
    background-color: #eeeee4;
}
.center{
    display: flex ;
    justify-content: center;
    align-items: center;
}
.header{
    width: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: row;
    max-height: 130px ;
    justify-content: space-between;
}
header img {
    padding: 10px;
    margin-left: 10px;
}
.title {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}
.title a {
    font-family: montserrat;
    font-size: 22px;
    color: #8a1538;
    text-decoration: none;
    margin: 5px 15px;
    padding: 5px;
}
.title a:hover{
    border-bottom: 2px solid #8a1538;
}
.menu_mobile_bt{ display: none; width: 23px; height: auto; padding: 10px 0px 10px 0px; }
.menu_mobile_bt .mbt_line{
	margin: 4px 0px 4px 0px;
	width: 100%;
	height: 3px;

	background-color: #8a1538;
	cursor: pointer;
}
.space {
    margin-right: 22vw !important;
}
.titulo{
    font-size: 48px;
    text-align: center;
    color: #eeeee4;
}
#icon_header a i {
    font-size: 1.7em;
    color: #FFFAFA;
    padding: 10px;
}
#icon_header {
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#a_img_log{
    height: 32px;
    margin-top: 3px;
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
    cursor: pointer;
}
.dropdown{
    
    position: absolute;
    top: 75px;
    display: flex;
    background: rgba(30,30,30, 0.9);
    flex-direction: column;
    right: 10px;
    width: 100%;
    max-width: 180px;
    box-shadow: 0 27px 15px -17px rgb(0 0 0 / 30%), 0 2px 4px rgb(0 0 0 / 30%);
}
.dropdown a {
    text-decoration: none;
    color: #FFFAFA;
    font-weight: 500;
    padding: 10px 30px;
    width: 100%;
    text-align: center;
}
.dropdown a:hover {
    background: rgba(20,20,20, 0.9);
}
.dropdown a:last-child{
    border: none;
}
.dropdown.show{
    visibility: visible !important;
    opacity: 1 !important;
    transition: all 1s ease !important;
}
.hidden{
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease !important;
}
.none {
    display: none !important;
}
#image_perfil{
    border-radius: 100%;
    margin-right: 10px;
    border: 2px solid #8a1538;
    padding: 0px;
}
.bienvenida_logged{
    color: #8a1538;
}
@media (max-width:1200px) {
    .title{
        margin-left: 40px;
        margin-right: 40px;
    }
    .space {
        margin-right: 13vw !important;
    }
}
@media only screen and (max-width: 1000px) {
    .menu_over {
        display: none;
        width: 100%;
        height: 230px;


    }
    .menu_desplegable {
        background-color: #0f140d;;
		padding: 0px;
        display: flex;
        flex-direction: column;
        top: 125px;
        left: 0px;
        min-width: 730px;
		position: absolute;
		z-index: 1000;
        color: #000;
        width: 100%;
        
    }
    .menu_mobile_bt{ display: block; margin-right: 2%;}
    .title{
        flex-direction: column;
    }
    .space {
        margin-right: 15px !important;
    }
    .bienvenida_logged{
        display: none;
    }
}
