<header>
    <div class="header">
        <div class="menu_mobile_bt">
                <div class="mbt_line"></div>
                <div class="mbt_line"></div>
                <div class="mbt_line"></div>
        </div>
        <div class="center imagenes">
            <a href="/"><img src="/images/PLV_nuevo.png" alt="Logo" width="70px"></a>
            <img src="/images/Qatar2022.png" alt="" width="100px">
        </div>
        <% if (locals.isLogged) { %>
        <div class="menu_over">
            <div class="menu_desplegable">
                <div class="title">
                    <a class="" href ="/">Inicio</a>
                    <a class="" href ="/prode/miprode">Mi prode</a>
                    <a class="" href ="/prode/tabla">Tabla de posiciones</a>
                </div>
            </div>
        </div>
        <% }  %>
        <section id="icon_header">
            <% if (locals.isLogged) { %>
                <div id="a_img_log"> 
                    <img src="<%= locals.userLogged.image %> " alt="" height="60px" width="60px" id="image_perfil">
                    <p class="bienvenida_logged"> Bienvenido <%= locals.userLogged.user_name %> </p>
                </div>
                <div class="dropdown hidden none">
                    <a href="/user/profile">Profile</a>
                    <a href="/user/logout">Logout</a>
                    <% if (locals.userLogged && locals.userLogged.admin) { %>
                        <a href="/admin/partidos">Administrar partidos</a>
                        <a href="/admin/resultados">Administrar resultados</a>
                    <% } %>
                    <a href="/admin/equipos">Administrar Equipos</a>
                </div>
            <% }  %>
                
        </section>
        
    </div>
</header><script src="/js/dropdown.js"></script>